<body class="fundo-azul">
    <h1>Olá!</h1>
    <p>Este é um projeto com objetivo de prática didática e formação de portfólio.</p>
    <br />
    <p><strong>A proposta deste projeto é a prática da implementação das ferramentas e funcionalidades listadas abaixo.</strong></p>
    <div>
        <table class="tabelaEstilo" style="width: 100%">
            <caption style="text-align: left; padding-bottom: 5px;"><strong>Implementado em Novembro/2023</strong></caption>
            <tr>
                <td>1 - Inserção de código <strong>HTML5 manual</strong> para construção desta página Home.</td>
            </tr>
            <tr>
                <td>2 - Inserção de estilização manual (simples) via <strong>CSS3</strong> desta página Home.</td>
            </tr>
            <tr>
                <td>3 - Instalação e utilização do framework <strong>Angular 2</strong> para criação de um Single Page Application,
                    aprendendo sobre rotas, importação de dependências e sua arquitetura.</td>
            </tr>
            <tr>
                <td>4 - Utilização do framework de layout <strong>Angular Material</strong> para utilização de templates
                    e componentes pré-definidos na construção do projeto.</td>
            </tr>
            <tr>
                <td>5 - Criação de um formulário de cadastro e de login, com <strong>validadores de campo</strong>.
                </td>
            </tr>
            <tr>
                <td>6 - Utilização dos recursos de <strong>"Guard"</strong> para proteger rotas e então simular uma tela
                    somente acessada por Login.</td>
            </tr>
            <tr>
                <td>7 - Criação de um servidor fake via <strong>json-server</strong> para simular uma API que armazena
                    as informações cadastradas e então criar um Service que irá acessar e validar essas informações.
                </td>
            </tr>
            <tr>
                <td>8 - Validar as informações de Login no arquivo json e então, liberar a rota. </td>
            </tr>
            <tr>
                <td>9 - Praticar comandos e rotinas <strong>Git</strong> e armazenamento no <strong>GitHub</strong>. </td>
            </tr>
        </table>
    </div>
    <br/><br/>
    <div>
        <p><i>Este projeto deverá passar por melhorias constantemente e se tornar algo mais complexo com o tempo! :)</i></p>
    </div>

    <br/><br/>
    <div>
        <p><strong>MEUS CONTATOS</strong></p>
        <p>- <strong>E-mail: </strong>gabriel.cazzeri@gmail.com</p>
        <p>- <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/gabrielcif/">AQUI!</a></p>
        <p>- <strong>GitHub: </strong><a href="https://github.com/gabafig">AQUI!</a></p>

    </div>
</body>

<app-footer></app-footer>
